
body {
  margin: 0;
  padding: 0;
  color: #40514E;
  background-color: #f3f9fb;
  font-family: "Open sans", sans-serif;
  text-align: center; /*centralizou todo texto da pagina*/
  font-size: 1.5em;
}

h1{
  margin: 30px auto 0 auto;
  font-family: "Montserrat";
  font-size: 3.5rem;
  color: #66BFBF;
}

h2{
  font-family: 'Source Sans Pro', serif;
  font-style: italic;
  font-size: 3.5rem;
  color: #66BFBF;
}

h3{
  font-family: "Montserrat";
  color: #11999E;
}

a{
  color: #0d7077;
  font-family: "Open sans", sans-serif;
  margin: 10px 0;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6
}

p{
    line-height: 1.8;
}

img{
  width: 15%;
  height: 15%;
  /*margin-right: 30px;*/

}

hr{
  width: 20%;
  border: dotted #30e3ca;
  border-bottom: none;
  margin: 50px auto;
}

/*
.teste{
    background-position:center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-image: url(../images/fw-bg.jpg);

}*/

.header-title{
  font-size: 3.5rem;
}

.header-sub{
  font-size: 2.5rem;
}

.main-bg{
  height: 100%;
  width: 100%;


}

.profile-pic{
  margin-top: 60px;
  width: 20%;
  height: 20%;

}

.study-img{
  width: 50%;
  height: 30%;
  border-radius: 10px;
}


.top-container{
  margin-top: 5%;
  width: 100%;

}

.intro{
  width: 65%;
  margin: auto auto 40px auto;
}

.middle-container{
margin: 10px 0;

}

.estacio-logo{
  width: 30%;
  height:30%;
}

.study h3{
  text-align: left;
  width: 50%;
  margin: auto;
  font-size: 2rem
}

.study-row{
  margin: 50px auto;
  font-weight: bold;
}

.skills a{
  text-decoration: underline;
}

.skills a:hover{
  color: #ed5353;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.skill-desc{
  clear: left;
}

.btn {
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  background: #66BFBF;
  padding: 10px 20px 10px 20px;
  border: solid #66BFBF 2px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  text-decoration: none;
  color: #66BFBF;
}


.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.bottom-container a{
  margin-left: 20px;
}

.contact-me{
  margin-bottom: 50px;
  position: relative;
}

.contact-me a:hover{
  color: #684FA3;

}

.contact-message{
  width: 50%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
}
